1. List
    method
    indexing
    slicing
    lost comprehensive
2. loop
     for
     while
3. Dictionary

# List

In [6]:
l1 = ["Ubaid",27 , True, 7.0] #index starts from 0
print(l1)

['Ubaid', 27, True, 7.0]

In [7]:
dir(l1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# list indexing

In [10]:
l1[2] #positive indexing starts with 0 from left to right

True

In [12]:
l1[-3] #negative indexing starts with -1 from right to left

27

In [14]:
len(l1) #counts the number of elements in the list

4

In [16]:
l1[1] = 100
l1

['Ubaid', 100, True, 7.0]

In [21]:
l1[-1] += 1000
l1

['Ubaid', 100, True, 1007.0]

In [22]:
l1[4]

IndexError: list index out of range

In [24]:
l1[4] = "Pakistan"

IndexError: list assignment index out of range

In [25]:
i = 0 # starting index
while 1 < len(l1) # Check logic with index range
    print(l1[i])
    i += 1 # Increment/ Decrement

SyntaxError: invalid syntax (<ipython-input-25-1be779b5d0c7>, line 2)

In [27]:
l2 = [1,7,9,8,20,25,13,15]
l2

[1, 7, 9, 8, 20, 25, 13, 15]

In [33]:
sorted(l2) # sort in Assending order in line

[1, 7, 8, 9, 13, 15, 20, 25]

In [30]:
sorted(l2, reverse=True) # sort data in Decending order in line

[25, 20, 15, 13, 9, 8, 7, 1]

In [34]:
l2

[1, 7, 9, 8, 20, 25, 13, 15]

In [36]:
l2.sort() #in memory sorting
l2

[1, 7, 8, 9, 13, 15, 20, 25]

range(start, end, step) # Generator function
start = include
end = exclude
step = sequence

In [37]:
range(11)

range(0, 11)

In [38]:
range(1,11)

range(1, 11)

In [39]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
for i in range(1,11)
    print(i)

SyntaxError: invalid syntax (<ipython-input-40-28185a2b8ea9>, line 1)

In [42]:
list(range(100,50,-1))

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51]

In [43]:
for n in range(1,11,3):
    print(n)

1
4
7
10

In [45]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [46]:
chr(65)

'A'

In [48]:
ord("a")

97

In [56]:
l1 = list(range(65,91))
l1

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [52]:
for i in l1:
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [57]:
list(map(chr, l1))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [58]:
l1 = ["ubaid","asim","qasim"]

In [60]:
a = list("Pakistan")
a

['P', 'a', 'k', 'i', 's', 't', 'a', 'n']

In [61]:
" " .join(a)

'P a k i s t a n'

# Slicing
# obj[start : end : Step]
# start include
# end exclude
# Step = sequence

#slicing can be applied to list tuple or string

In [63]:
l1 = list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
l1[0:5]

[1, 2, 3, 4, 5]

In [ ]:
l1 = list(map(chr, list(range)))

# List Comprehensive

In [65]:
for e in l1: #e = Element, l1 = list
    print(e) #statement

1
2
3
4
5
6
7
8
9
10

if logic:
    True_value
else:
    Falese_value

In [67]:
a = 6
"Pakistan" if a==5 else "China"

'China'

In [69]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
[x*2 for x in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [71]:
["{} X {} = {}" .format x,x*2,x

SyntaxError: invalid syntax (<ipython-input-71-b6e1239f3a1f>, line 1)

In [73]:
e for e in range(1,1001) if (e%5 == 0 and e%7 == 0 and e%9 == 0)

SyntaxError: invalid syntax (<ipython-input-73-501c81000d1a>, line 1)

# List Method

In [78]:
l2 = []
l2.append("Ubaid")
l2.append("Ubaid1")
l2.append("Ubaid3")
l2

['Ubaid', 'Ubaid1', 'Ubaid3']

In [81]:
l2.insert(1,"Ubaid0")
l2

['Ubaid', 'Ubaid0', 'Ubaid0', 'Ubaid1', 'Ubaid3']

In [83]:
del l2[1]
l2

['Ubaid', 'Ubaid1', 'Ubaid3']

In [92]:
l1 = ['a','b','c']
a = l1.pop()
l3 = []
l3.append(a)

print(l1)
print(l3)

['a', 'b']
['c']

In [93]:
list(enumerate(l1))

[(0, 'a'), (1, 'b')]

In [94]:
a = 5
b = 5

print(id(a))
print(id(b))

140722914235328
140722914235328